<article class="tarjeta">
  <a class="producto-enlace" [routerLink]="['/producto', producto().id]">
    <div class="producto-imagen">
      <img [src]="producto().imagen" [alt]="producto().nombre" />
    </div>

    <div class="producto-contenido">
      <div class="producto-cabecera">
        <h3>{{ producto().nombre }}</h3>

        <button
          class="favorito"
          type="button"
          aria-label="Añadir a favoritos"
          (click)="$event.preventDefault(); $event.stopPropagation()"
        >
          <span class="material-symbols-outlined"> favorite </span>
        </button>
      </div>

      <span class="producto-categoria">
        {{ producto().categoria }}
      </span>

      <div class="producto-pie">
        <span class="precio">
          {{ producto().precio | currency: 'EUR' }}
        </span>

        @if (cantidadEnCarrito() === 0) {
          <button
            class="boton-carrito"
            type="button"
            aria-label="Añadir al carrito"
            (click)="$event.preventDefault(); $event.stopPropagation(); agregar()"
          >
            <span class="material-symbols-outlined"> add_shopping_cart </span>
          </button>
        } @else {
          <div class="controles-cantidad">
            <button
              class="boton-restar"
              type="button"
              aria-label="Quitar unidad"
              (click)="
                $event.preventDefault();
                $event.stopPropagation();
                carritoService.quitarUnidad(producto().id)
              "
            >
              −
            </button>

            <span>
              {{ cantidadEnCarrito() }}
            </span>

            <button
              class="boton-sumar"
              type="button"
              aria-label="Añadir unidad"
              (click)="$event.preventDefault(); $event.stopPropagation(); agregar()"
            >
              +
            </button>
          </div>
        }
      </div>
    </div>
  </a>
</article>
