<div class="tarjeta">
  <a class="producto-enlace" [routerLink]="['/producto', producto().id]">
    <span class="icono">{{ producto().icono }}</span>

    <p class="categoria">{{ producto().categoria }}</p>

    <h3>{{ producto().nombre }}</h3>
  </a>

  <div class="pie-tarjeta">
    <p class="precio">
      {{ producto().precio | currency: 'EUR' }}
    </p>

    @if (cantidadEnCarrito() === 0) {
      <button (click)="agregar()">+</button>
    } @else {
      <div class="controles-cantidad">
        <button class="boton-restar" (click)="carritoService.quitarUnidad(producto().id)">−</button>

        <span>{{ cantidadEnCarrito() }}</span>

        <button class="boton-sumar" (click)="agregar()">+</button>
      </div>
    }
  </div>
</div>
