<header>
  <div class="header-contenido">
    <div class="logo">
      <div class="logo-icono">S</div>
      <div class="logo-texto">
        <span class="logo-nombre">Supermercado</span>
        <span class="logo-slogan">Tu supermercado de confianza</span>
      </div>
    </div>

    <input class="buscador" type="text" placeholder="buscar productos..." #buscadorInput (input)="productoService.busqueda.set(buscadorInput.value)">
    
    <button class="boton-carrito" (click)="alternarPanel()">
      🛒 <span class="contador">{{ carritoService.cantidadTotal() }}</span>
    </button>
  </div>
</header>

<nav>
  <div class="nav-contenido">
    <a routerLink="/">Home</a>
  </div>
</nav>


@if (panelAbierto()) {
  <div class="panel">
    <div class="panel-cabecera">
      <h2>Carrito de compras</h2>
      <button class="boton-cerrar" (click)="alternarPanel()">X</button>
    </div>
    
    @if (carritoService.items().length === 0) {
      <p>El carrito está vacío</p>
    } @else {
      @for (item of carritoService.items(); track item.producto.id) {
        <div class="panel-item">
          <span class="nombre">{{ item.producto.icono }} {{ item.producto.nombre }}</span>
          <span class="precio-linea">{{ item.cantidad }} x {{ item.producto.precio }} €</span>
          <button class="boton-cantidad boton-restar" (click)="carritoService.quitarUnidad(item.producto.id)">-</button>
          <button class="boton-cantidad boton-sumar" (click)="carritoService.agregarAlCarrito(item.producto)">+</button>
          <button class="boton-eliminar" (click)="carritoService.eliminarProducto(item.producto.id)">Eliminar</button>
        </div>
      }
      <div class="panel-pie">
        <p class="panel-total">Total: {{ carritoService.total() | currency:'EUR' }} </p>
        <a class="boton-comprar" routerLink="/carrito" (click)="alternarPanel()">Ir a comprar</a>
      </div>
    }

  </div>
}
<router-outlet />